.hc-luckywheel ul,
.hc-luckywheel li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hc-luckywheel {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 16px solid #1E90FF;
  box-shadow: 0 2px 3px #333, 0 0 2px #000;
  top: auto;
  left: auto;
  transform: none;
}


.hc-luckywheel-container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-clip: padding-box;
  background: #1E90FF !important;
  -webkit-transition: transform 6s ease;
  transition: transform 6s ease;

}

.hc-luckywheel-container canvas {
  width: inherit;
  height: inherit;
  border-radius: 50%;
}

.hc-luckywheel-list {
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
  height: inherit;
  z-index: 2;
}

.hc-luckywheel-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #e4370e;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
}

.hc-luckywheel-item span {
  position: relative;
  display: block;
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
  -webkit-transform-origin: 50% 250px;
  -ms-transform-origin: 50% 250px;
  transform-origin: 50% 250px;
}

.hc-luckywheel-item img {
  position: relative;
  top: -20px;
  left: 0px;
  width: 100px;
  height: 100px;
}

.hc-luckywheel-btn {
  position: absolute;
  left: 210px;
  top: 210px;
  z-index: 3;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: #f4e9cc;
  background-color: #e44025;
  line-height: 80px;
  text-align: center;
  font-size: 20px;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

.hc-luckywheel-btn::after {
  position: absolute;
  display: block;
  content: "";
  left: 10px;
  top: -46px;
  width: 0;
  height: 0;
  overflow: hidden;
  border-width: 30px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #e44025;
}

.hc-luckywheel-btn.disabled {
  pointer-events: none;
  background: #b07a7b;
  color: #ccc;
}

.hc-luckywheel-btn.disabled::after {
  border-bottom-color: #b07a7b;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

#post {
  width: 600px;
  height: 150px;
  float: left;
}

#sidebar {
  width: 380px;
  height: 150px;
  float: right;
}

.hc-luckywheel-canvas {
  background-color: #1E90FF !important;
  /* Xanh biá»ƒn */
}

.hc-luckywheel-container img {
  width: 65px;
  height: auto;
}